@use '../../../../../styles/helpers/index' as *;

.gray {
  color: $COLOR_GRAY_4;
}

.link_button {
  @include res--desktop {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
    font-size: $FONT_SIZE_14;
    cursor: pointer;
  }
}
