// PRIMARY
$COLOR_PRIMARY_0: #1f408b;
$COLOR_PRIMARY_1: #2b59c3;
$COLOR_PRIMARY_2: #4a75d7;
$COLOR_PRIMARY_3: #829fe3;
$COLOR_PRIMARY_4: #b9caf0;
$COLOR_PRIMARY_5: #d5dff6;

// GRAY
$COLOR_GRAY_1: #000000;
$COLOR_GRAY_2: #484848;
$COLOR_GRAY_3: #7b7b7b;
$COLOR_GRAY_4: #909090;
$COLOR_GRAY_5: #b2b2b2;
$COLOR_GRAY_6: #d9d9d9;
$COLOR_GRAY_7: #e8e8e8;
$COLOR_GRAY_8: #f0f0f0;
$COLOR_GRAY_9: #fbfbfb;

// OTHER
$COLOR_WHITE: #fbfbfb;
$COLOR_YELLOW: #ffeecf;
$COLOR_RED: #d36582;
