@use '../../../../styles/helpers/index' as *;

.right_content {
  width: 399px;
  height: 100%;

  .nickname {
    padding: 20px;
    border-bottom: 1px solid $COLOR_GRAY_1;
    font-size: $FONT_SIZE_20;
    height: 12%;
    @include flex-start-center;
    font-weight: 700;

    img {
      border-radius: 50%;
      background-color: $COLOR_GRAY_7;
    }
    span {
      position: relative;
      top: 5px;
      height: 32px;
    }
  }

  .feed_content {
    padding: 17px;

    p {
      font-weight: 700;
    }

    textarea {
      width: 100%;
      height: 150px;
      margin: 15px 0;
      font-size: $FONT_SIZE_14;
    }
  }

  .prev_btn {
    position: absolute;
    width: 175px;
    height: 50px;
    bottom: 17px;
    right: 207px;
  }

  .next_btn {
    position: absolute;
    width: 175px;
    height: 50px;
    bottom: 17px;
    right: 17px;
  }
}

.my_interest_list {
  display: flex;
  width: 100%;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 10px;

  .my_interest {
    @include res--desktop {
      position: relative;
      padding: 10px 20px;
      background-color: $COLOR_GRAY_9;
      border: 1px solid $COLOR_GRAY_1;
      border-radius: 10px;
      transition: background 0.1s;
      cursor: pointer;

      &:hover {
        background-color: $COLOR_PRIMARY_2;
        border-color: $COLOR_PRIMARY_2;
        color: $COLOR_GRAY_9;
      }
    }

    i {
      position: absolute;
      left: 1px;
      top: 1px;
    }
  }
}
