@use '../../../styles/helpers/index' as *;

.feed_container {
  width: 630px;
  height: auto;
  min-height: 800px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

.feed_top {
  padding: 15px 20px;
  height: 80px;
  width: 630px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .feed_top_profile {
    border-radius: 50%;
  }

  span {
    font-weight: bold;
    margin-left: 15px;
  }

  .menu_box {
    position: relative;

    .feed_top_menu {
      cursor: pointer;
    }

    .toggle_menu {
      position: absolute;
      right: 20px;
      border: 1px solid $COLOR_GRAY_2;
      width: 80px;
      font-size: 14px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      li {
        padding: 10px;
        text-align: center;
        background-color: $COLOR_WHITE;
        cursor: pointer;
      }

      .update {
        border-bottom: 1px solid $COLOR_GRAY_2;
        border-top-left-radius: 10px;
      }

      .delete {
        color: $COLOR_RED;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }

  .follow_button {
    width: 120px;
    margin-right: 10px;
  }
}

.feed_center {
  height: 500px;
  background-color: rgba(238, 238, 238, 1);
}

.feed_bottom {
  padding: 15px 20px;

  .count_box {
    @include flex-start-center;
    font-size: 20px;
    color: $COLOR_GRAY_2;

    .like_count {
      margin: 0 15px 0 5px;
    }

    .comment_count {
      margin-left: 5px;
    }
  }

  .username_box {
    margin-top: 16px;
    margin-bottom: 12px;
    @include flex-start-center;

    .username {
      font-size: 16px;
      font-weight: bold;
      margin-right: 10px;
      white-space: nowrap;
    }
  }

  .content_wrapper {
    display: flex;

    .content_box {
      position: relative;
      font-size: 16px;
      color: $COLOR_GRAY_2;
      //   max-height: 50px;
      line-height: 24px;

      .more {
        cursor: pointer;
        background-color: $COLOR_WHITE;
        font-weight: bold;
        float: right;
        display: flex;
        align-items: flex-end;
        height: 100%;
        shape-outside: inset(calc(100% - 24px) 0 0 0);
      }
    }
  }
}

.hashtag_box {
  margin-top: 30px;
  display: flex;
  gap: 10px;

  .hashtag {
    font-size: 14px;
    color: $COLOR_GRAY_4;
  }
}

.two_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
