.container {
  display: flex;
  position: relative;
  justify-content: center;
  width: calc(100% - 300px);
  min-width: 750px;
  left: 300px;
  padding: 50px 100px 0 100px;
  box-sizing: border-box;
}
