@use '../../../../styles/helpers/index' as *;

.menu {
  position: absolute;
  width: 175px;
  height: 100px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: $COLOR_WHITE;
  border: 1px solid $COLOR_GRAY_1;
  left: 250px;
  top: 30px;

  .menu_item {
    cursor: pointer;
    padding: 15px;
    color: $COLOR_GRAY_2;
    text-align: center;

    &:first-child {
      border-bottom: 1px solid $COLOR_GRAY_1;
    }

    .logout {
      position: relative;
      bottom: 5px;
      right: 5px;
      color: $COLOR_RED;
    }
  }
}
