@use '../../../../styles/helpers/index' as *;

@mixin button {
  position: absolute;
  @include flex-center;
  width: 35px;
  height: 35px;
  background-color: $COLOR_GRAY_6;
  border-radius: 50%;
  cursor: pointer;
}

.left_content {
  @include flex-center;
  position: relative;
  width: calc(100% - 399px);
  height: 100%;
  border-right: 1px solid $COLOR_GRAY_1;

  .feed_image {
    padding: 100px;
    box-sizing: border-box;
  }

  .left_button {
    @include button;
    left: 30px;
  }

  .right_button {
    @include button;
    right: 30px;
  }
}
