@use '../../../../styles/helpers/index' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 18px 0 18px 18px;
  border-top: 1px solid $COLOR_GRAY_2;

  &:has(.comment_textarea:disabled) {
    & * {
      color: $COLOR_GRAY_2;
    }

    .submit_button {
      cursor: default;
    }
  }

  .comment_textarea {
    flex: 1;
    height: 20px;
    line-height: 1.25rem;
    color: $COLOR_GRAY_2;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .submit_button {
    width: 50px;
    color: $COLOR_PRIMARY_1;
    cursor: pointer;
  }
}
