@import '../../../styles/helpers/index';

.container {
  width: 100%;

  .label {
    display: block;
    margin-bottom: 5px;
    font-size: $FONT_SIZE_14;
    color: $COLOR_GRAY_2;
    cursor: default;
  }

  .caution_wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
  }
}
